<md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

      Angular Material2 Example App

    <span class="app-toolbar-filler"></span>
</md-toolbar>

<div class="flex-container" 
     fxLayout="row" 
     fxLayoutWrap
     fxLayoutAlign="start center">
     <div *ngFor="let application of applications" >
       <application-entry [application]="application" (click)="onSelect(application)" ></application-entry>
    </div>
</div>
  
<span class="app-action" (click)="onCreate()">
  <button md-fab >
    <md-icon>add</md-icon>
  </button>
</span>
